/* Start Hide ------------------ */
.footer-powered{display: none!important;} /* Hide Powered Footer */


/* Start Hide List-view Sidebar -------- */
.no-breadcrumbs[data-route^="List/"] .col-lg-2.layout-side-section {display: none !important;}
/* End Hide List-view Sidebar -------- */

/* Table CSS ------------------ */
.frappe-control[data-fieldtype="Table"] .grid-heading-row .grid-row .grid-static-col,
.frappe-control[data-fieldtype="Table"] .grid-heading-row .grid-row .row-index,
.frappe-control[data-fieldtype="Table"] .grid-body .grid-row .grid-static-col,
.frappe-control[data-fieldtype="Table"] .grid-body .grid-row .row-index {height: auto;}

.frappe-control[data-fieldtype="Table"] .grid-heading-row .grid-row .static-area.ellipsis,
.frappe-control[data-fieldtype="Table"] .grid-body .grid-row .static-area.ellipsis {white-space: normal;}
/* End Table CSS -------------- */